/* Background colors for the different sets */
.zcansdk {
    background-color: #00a9ce;
}

.zephyr {
    background-color: #a67dfb;
}

.mcuboot {
    background-color: #159957;
}

.zcanxlib {
    background-color: #ff9933;
}

.sof {
    background-color: #0088e2;
}

.kconfig {
    background-color: #e82424;
}

.tfm {
    background-color: #2980b9;
}

.matter {
    background-color: #6D42C8;
}
