

<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Overview &mdash; SOF Project 0.1 documentation</title>
  

  
  <link rel="stylesheet" href="../../../_static/css/zc.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/css/zc.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/graphviz.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/css/common.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/css/sof.css" type="text/css" />

  
  
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
  

  
  

  

  
  
  <!--[if lt IE 9]>
    <script src="../../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
        <script data-url_root="../../../" id="documentation_options" src="../../../_static/documentation_options.js"></script>
        <script src="../../../_static/jquery.js"></script>
        <script src="../../../_static/underscore.js"></script>
        <script src="../../../_static/doctools.js"></script>
    
    <script type="text/javascript" src="../../../_static/js/theme.js"></script>

    
  <script type="text/javascript" src="../../../_static/js/zcaniot.js"></script>

    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="Managing the Components" href="component-mgmt-api.html" />
    <link rel="prev" title="Components" href="index.html" />
  <link rel="shortcut icon" href="../../../_static/images/favicon.ico"/>

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../../index.html" class="icon icon-home"> SOF Project
          

          
            
            <img src="../../../_static/logo_sof_white_200w.png" class="logo" alt="Logo"/>
          
          </a>

          
            
            
              <div class="version">
                latest
              </div>
            
          

          
<div id="searchbox" role="search">
  <div class="searchformwrapper">
    <form id="rtd-search-form" class="wy-form" action="../../../search.html" method="get">
      <input type="text" name="q" placeholder="Search docs" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
  </div>
</div>
<script>$('#searchbox').show(0);</script>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1"><a class="reference external" href="https://sofproject.org">SOF project website</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../introduction/index.html">Introduction to the SOF Project</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../getting_started/index.html">Getting Started Guides</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../architectures/index.html">Supported Architectures</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../platforms/index.html">Platforms</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../algos/index.html">Algorithms</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../index.html">Developer Guides</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../../introduction.html">Introduction</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../index.html">Firmware</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../component-tutorial/tut-intro.html">Hello World Tutorial</a></li>
<li class="toctree-l3"><a class="reference internal" href="../mem-mgmt.html">Memory Management</a></li>
<li class="toctree-l3"><a class="reference internal" href="../pm-runtime/index.html">Power Management</a></li>
<li class="toctree-l3"><a class="reference internal" href="../schedulers.html">Schedulers</a></li>
<li class="toctree-l3"><a class="reference internal" href="../drivers/index.html">Drivers</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="index.html">Components</a><ul class="current">
<li class="toctree-l4 current"><a class="current reference internal" href="#">Overview</a></li>
<li class="toctree-l4"><a class="reference internal" href="component-mgmt-api.html">Managing the Components</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../pipelines/index.html">Pipelines</a></li>
<li class="toctree-l3"><a class="reference internal" href="../porting.html">Porting Guides</a></li>
<li class="toctree-l3"><a class="reference internal" href="../kd_integration/index.html">Keyword detection</a></li>
<li class="toctree-l3"><a class="reference internal" href="../cmake.html">CMake Arguments</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../unit_tests.html">Unit Tests</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../xtrun/index.html">Xtensa Simulator (xt-run)</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../topology/topology.html">SOF Topology</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../uuid/index.html">UUID Usage in SOF</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../debugability/index.html">Debugability</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../tuning/sof-ctl.html">Runtime Tuning</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../rimage/index.html">Rimage</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../linux_driver/index.html">SOF Linux Driver</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../virtualization/virtualization.html">SOF VirtIO design</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../virtualization/running.html">Run SOF VirtIO</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../fuzzing/index.html">Fuzzing</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../testbench/index.html">Testbench</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../index.html#technical-notes">Technical Notes</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../../release.html">Release</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../contribute/index.html">Contributing to the Project</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../tsc/index.html">Technical Steering Committee (TSC)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../maintainers/index.html">SOF admin, maintainers and code owners</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../api/index.html">API Documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../presentations/index.html">Presentations</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../index.html">SOF Project</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          

















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="../../index.html">Developer Guides</a> &raquo;</li>
        
          <li><a href="../index.html">Firmware</a> &raquo;</li>
        
          <li><a href="index.html">Components</a> &raquo;</li>
        
      <li>Overview</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../../_sources/developer_guides/firmware/components/component-overview.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="overview">
<span id="apps-component-overview"></span><h1>Overview<a class="headerlink" href="#overview" title="Permalink to this headline">¶</a></h1>
<p>A component adds audio signal processing to a pipeline that’s running on the
DSP. An instance of the component, called a component device (components are
implemented in the driver-device model), is chained with other component
devices and builds an audio processing path organized as a pipeline.</p>
<div class="section" id="component-driver">
<h2>Component driver<a class="headerlink" href="#component-driver" title="Permalink to this headline">¶</a></h2>
<p>Every component must implement a driver (see the <code class="docutils literal notranslate"><span class="pre">comp_driver</span></code>) which
creates instances by handling <em>new</em> component requests coming from the
command handlers.</p>
<p>The driver must be registered on the system component driver list by calling
<code class="docutils literal notranslate"><span class="pre">comp_register(comp_driver</span> <span class="pre">*)</span></code> and providing a unique component id in
order to receive the requests.</p>
<p>Each component driver declares its unique <code class="docutils literal notranslate"><span class="pre">type</span></code> that is later used by the
uAPI to create a component of that <code class="docutils literal notranslate"><span class="pre">type</span></code>. It also provides an entry point
to the component ops implementation.</p>
<p>UUIDs (Universally Unique Identifiers) provide a more scalable and
collision-free way of component identification. UUIDs are currently used as
the standard interface by all users of the SOF firmware, including the
tracing subsystem, the topology .m4 files, and the Linux topology driver.
Using the <code class="docutils literal notranslate"><span class="pre">type</span></code> to define topology and create components is still
supported today; however, the <code class="docutils literal notranslate"><span class="pre">type</span></code> will be moved out of the IPC struct
in the future. Therefore, <strong>be sure to allocate UUIDs for all newly-added component drivers.</strong></p>
<p>The UUID entry declared in the FW code contains the identifier value as well
as the object which is the component name in this case. Both are
provided as the arguments to the <code class="docutils literal notranslate"><span class="pre">DECLARE_SOF_RT_UUID()</span></code> macro. For
example, the <strong>volume</strong> component provides the following declaration:</p>
<div class="highlight-c notranslate"><div class="highlight"><pre><span></span><span class="cm">/* b77e677e-5ff4-4188-af14-fba8bdbf8682 */</span>
<span class="n">DECLARE_SOF_RT_UUID</span><span class="p">(</span><span class="s">&quot;volume&quot;</span><span class="p">,</span> <span class="n">volume_uuid</span><span class="p">,</span> <span class="mh">0xb77e677e</span><span class="p">,</span> <span class="mh">0x5ff4</span><span class="p">,</span> <span class="mh">0x4188</span><span class="p">,</span>
                 <span class="mh">0xaf</span><span class="p">,</span> <span class="mh">0x14</span><span class="p">,</span> <span class="mh">0xfb</span><span class="p">,</span> <span class="mh">0xa8</span><span class="p">,</span> <span class="mh">0xbd</span><span class="p">,</span> <span class="mh">0xbf</span><span class="p">,</span> <span class="mh">0x86</span><span class="p">,</span> <span class="mh">0x82</span><span class="p">);</span>
</pre></div>
</div>
<p>Note how the <code class="docutils literal notranslate"><span class="pre">af14</span></code> 16bit segment is split into two bytes at the beginning
of the second line.</p>
<p><code class="docutils literal notranslate"><span class="pre">volume</span></code> is the component name used by the sof-logger while printing the
trace source name. <code class="docutils literal notranslate"><span class="pre">volume_uuid</span></code> is the symbol used later to associate the
declared UUID with the volume of the component driver:</p>
<div class="highlight-c notranslate"><div class="highlight"><pre><span></span><span class="k">static</span> <span class="k">const</span> <span class="k">struct</span> <span class="nc">comp_driver</span> <span class="n">comp_volume</span> <span class="o">=</span> <span class="p">{</span>
        <span class="p">.</span><span class="n">type</span> <span class="o">=</span> <span class="n">SOF_COMP_VOLUME</span><span class="p">,</span>
<span class="hll">        <span class="p">.</span><span class="n">uid</span>  <span class="o">=</span> <span class="n">SOF_RT_UUID</span><span class="p">(</span><span class="n">volume_uuid</span><span class="p">),</span>
</span>        <span class="p">...</span>
<span class="p">};</span>
</pre></div>
</div>
<p>See the <a class="reference internal" href="../../../api/uuid-api.html#uuid-api"><span class="std std-ref">UUID API</span></a> for more details on UUID generation and declaration.</p>
<div class="figure align-default" id="id1">
<p class="plantuml">
<object data="../../../_images/plantuml-f3b032182377200d6db8d09040f9caf32d8dbcc1.svg" type="image/svg+xml" style="width:525px;height:391px;">
<img src="../../../_images/plantuml-f3b032182377200d6db8d09040f9caf32d8dbcc1.png" alt="package component {

   class comp_driver {
   	type : uint32_t
	uid : uint32_t
   	module_id : uint32_t
   	ops : comp_ops
   }
   hide comp_driver methods

   class comp_ops
   hide comp_ops methods
   hide comp_ops attributes

   class comp_dev {
   	drv : comp_driver*

   	&lt;i&gt;more params goes here ...&lt;/i&gt;

   	params : sof_ipc_stream_params

   	bsource_list
   	bsink_list
   	private: void*
   	comp : sof_ipc_comp
   }
   hide comp_dev methods

   comp_driver --&gt; &quot;ops&quot; comp_ops : provides

   comp_driver -&gt; comp_dev : creates in comp_new()
}
"/>

</object></p>
<p class="caption"><span class="caption-number">Figure 57 </span><span class="caption-text">Component Driver</span><a class="headerlink" href="#id1" title="Permalink to this image">¶</a></p>
</div>
</div>
<div class="section" id="create-a-component-device">
<h2>Create a component device<a class="headerlink" href="#create-a-component-device" title="Permalink to this headline">¶</a></h2>
<p>When a new component device is requested, the system <code class="docutils literal notranslate"><span class="pre">comp_new()</span></code> function
finds the driver that’s registered with the requested unique component type
and calls the <code class="docutils literal notranslate"><span class="pre">new()</span></code> function pointed by the registered driver’s data in
order to instantiate the device.</p>
<p>Following is the entry called to create a new component device:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">struct</span> <span class="n">comp_dev</span><span class="o">*</span> <span class="n">comp_new</span><span class="p">(</span><span class="n">sof_ipc_comp</span> <span class="o">*</span><span class="n">comp</span><span class="p">);</span>
</pre></div>
</div>
<p class="plantuml">
<object data="../../../_images/plantuml-31efdc2b5a0f5cf60ecab0ddf523cba45ddd79ca.svg" type="image/svg+xml" style="width:625px;height:383px;">
<img src="../../../_images/plantuml-31efdc2b5a0f5cf60ecab0ddf523cba45ddd79ca.png" alt="actor &quot;ipc/ipc_comp_new()&quot; as c
participant &quot;audio/component&quot; as comp
participant &quot;comp_driver&quot; as drv
participant &quot;lib/heap&quot; as heap

c -&gt; comp : comp_new(comp : sof_ipc_comp)
	activate comp
	comp -&gt; comp : get_drv(comp-&gt;type) : drv
	comp -&gt; drv : drv-&gt;ops.new(comp)
  		activate drv
  		drv -&gt; heap : rzalloc(Runtime)
  		drv &lt;-- heap
	comp &lt;-- drv : comp_dev*
	deactivate drv

	comp -&gt; comp : init component
c &lt;-- comp : comp_dev*
deactivate comp
"/>

</object></p>
</div>
<div class="section" id="handle-the-component-device-state">
<h2>Handle the component device state<a class="headerlink" href="#handle-the-component-device-state" title="Permalink to this headline">¶</a></h2>
<div class="figure align-default" id="id2">
<p class="plantuml">
<object data="../../../_images/plantuml-d8d742a338e287765af9ea03c4b5ff6e89230c6a.svg" type="image/svg+xml" style="width:930px;height:597px;">
<img src="../../../_images/plantuml-d8d742a338e287765af9ea03c4b5ff6e89230c6a.png" alt="hide empty description
[*] -right-&gt; COMP_STATE_INIT : start of &lt;b&gt;comp_ops.new()&lt;/b&gt;

COMP_STATE_INIT --&gt; COMP_STATE_READY : end of &lt;b&gt;comp_ops.new()&lt;/b&gt;

COMP_STATE_READY ---&gt; COMP_STATE_PREPARE : &lt;b&gt;COMP_TRIGGER_PREPARE&lt;/b&gt;

COMP_STATE_PREPARE --&gt; COMP_STATE_ACTIVE : &lt;b&gt;COMP_TRIGGER_START&lt;/b&gt;

COMP_STATE_ACTIVE --&gt; COMP_STATE_PREPARE : COMP_TRIGGER_STOP, COMP_TRIGGER_XRUN
COMP_STATE_PAUSED --&gt; COMP_STATE_PREPARE : COMP_TRIGGER_STOP, COMP_TRIGGER_XRUN

COMP_STATE_ACTIVE -&gt; COMP_STATE_PAUSED : COMP_TRIGGER_PAUSE

COMP_STATE_PAUSED --&gt; COMP_STATE_ACTIVE : COMP_TRIGGER_RELEASE

COMP_STATE_PREPARE --&gt; COMP_STATE_READY : COMP_TRIGGER_RESET
"/>

</object></p>
<p class="caption"><span class="caption-number">Figure 58 </span><span class="caption-text">Component Device States</span><a class="headerlink" href="#id2" title="Permalink to this image">¶</a></p>
</div>
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>COMP_STATE_SUSPEND is not used currently.</p>
</div>
<p>Refer to <code class="xref c c-func docutils literal notranslate"><span class="pre">comp_set_state()</span></code> in <a class="reference internal" href="../../../api/component-api.html#component-api"><span class="std std-ref">Component API</span></a> for details.</p>
</div>
<div class="section" id="implement-the-component-api-comp-ops">
<h2>Implement the component API (comp_ops)<a class="headerlink" href="#implement-the-component-api-comp-ops" title="Permalink to this headline">¶</a></h2>
<p>Every component driver implements the <code class="docutils literal notranslate"><span class="pre">comp_ops</span></code> API.</p>
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>Some API functions are mandatory for specific component types since
the infrastructure code calls them selectively based on the target
component type. For instance, <code class="docutils literal notranslate"><span class="pre">dai_config()</span></code> is only called for
<code class="docutils literal notranslate"><span class="pre">SOF_COMP_DAI</span></code> and <code class="docutils literal notranslate"><span class="pre">SOF_COMP_SG_DAI</span></code> and cannot be called for other
component types.</p>
</div>
<p>See <code class="docutils literal notranslate"><span class="pre">struct</span> <span class="pre">comp_ops</span></code> documentation in <a class="reference internal" href="../../../api/component-api.html#component-api"><span class="std std-ref">Component API</span></a> for details.</p>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="component-mgmt-api.html" class="btn btn-neutral float-right" title="Managing the Components" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="index.html" class="btn btn-neutral" title="Components" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">

<table>
<tr>
<td>
    <p>
        &copy; Copyright 2021, SOF Project..
      Last updated on May 10, 2022.

    </p>
</td>
<td id="zcanlogo">
  <a href="https://www.unisim-micro.com/"><img src="../../../_static/images/zcan.svg" border="0" style="position:static"/></a>
</td>
</tr>
</table>
  </div> 


</footer>
        </div>
      </div>

    </section>

  </div>
  
  <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
      <span class="fa fa-book"> SOF Project</span>
       <span class="fa fa-caret-down"></span>
    </span>
    <div class="rst-other-versions">
      
      <div class="rst-other-version zcansdk">
        <a href="../../../../zcansdk/index.html">ZCAN IOT SDK</a>
      </div>
      
      <div class="rst-other-version zcanxlib">
        <a href="../../../../zcanxlib/README.html">ZCAN Xlib</a>
      </div>
      
      <div class="rst-other-version zephyr">
        <a href="../../../../zephyr/index.html">Zephyr Project</a>
      </div>
      
      <div class="rst-other-version mcuboot">
        <a href="../../../../mcuboot/wrapper.html">MCUboot</a>
      </div>
      
      <div class="rst-other-version kconfig">
        <a href="../../../../kconfig/index.html">Kconfig Reference</a>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>